.section {
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 0 5 px #ddd;
}

.section__title {
    font-size: 20px;
    padding: 20px;
    margin: 0px;
}

.section__header {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black
}

.section__body {
    padding: 20px;
}

.section__container {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.body {
    color: #008080;
}